*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    /* padding-left:45%; */
    height: 100vh;
    background-image: url(images/b.jpg);
    background-size: cover;
    display: flex;
    justify-content:center;
    align-items: center;

}

.login_box{
    background-color:transparent;
    border: 1px solid #fff;
    padding: 50px 20px;
    width: 600px;
    border-radius: 6%;
    backdrop-filter: blur(5px);
}
h1{ font-style: italic;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px
}
h3{
    font-style: italic;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px
}

.input_box{
    width: 90%;
    height: 40px;
    position: relative;
   margin-bottom: 20px;
   border-bottom: 1px solid #fff;
   background-color: transparent;
}

.input_box input{
    width: 100%;
    color: #fff;
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.input_box label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    transition: .4s;
}
.icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

.remember{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
}
.remember label{
    margin: 0 5px;
    font-size: 15px;
    color: #fff;

}
.remember a{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.log{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.log button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 20px;
    transition: .4s;
    font-weight: bold;
}
.log button:hover{
    background-color: transparent;
   border: 1px solid #fff;
   color: #fff;
   cursor: pointer;
}

.reg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reg p{
    font-size: 18px;
    color:#fff;
    margin-right: 5px;
    
}
.reg a{

    font-size: 18px;
    color:#fff;
    font-weight: bold;
}
.forgot{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot a {
    font-size: 10px;
    color:#fff;
    font-weight: bold;
    margin-bottom: 20px
}

.forgot a:hover{
    font-size: 12px;
    color:#5914db;
    font-weight: bold;
}


.reg a:hover{

    font-size: 20px;
    color:#057c23;
    font-weight: bold;
}

.input_box input:focus ~ label,
.input_box input:valid ~ label{
   top: 0px; 
}




.em4 {
    display: none;
    color: red;
    margin: 10px 0 10px 10px;
  }

  .em6 {
    display: none;
    color: red;
    margin: 10px 0 10px 10px;
    margin-bottom: 20px;
  }